
ol, ul {
    list-style: none;
}

html, body, #root {
    height: 100%;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --color-yellow: #FFD02B;
    --color-white: #EFEFEF ;
    --color-white-100: #cbd5e1;
    --color-blue: #0B1224;
   
}
